/* Reset default browser spacing */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styling */
header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

header {
  text-align: center;
  padding: 0px;
}

header .logo {
  width: 1500px;       /* adjust size */
  display: block;
  margin: 0;           /* removes any spacing */
  padding: 10px 0 0 0; /* optional top padding */
  position: relative;  /* ensures it’s aligned to the left edge */
  left: 0;             /* sticks to the left */
}

nav {
  background-color: #f0f0f0;
  text-align: center;  /* links centered */
  padding: 10px 0;
}


/* Navigation bar */
nav {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

/* Navigation links */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Hover effect on links */
nav a:hover {
    color: #6e6e6e;
}

/* button on active Tab */
nav a.active {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Main content area */
main {
    padding: 20px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}

/* Headings */
h2, h3 {
    color: #000000;
}

/* List styling */
ul {
    list-style-type: square;
}

/* Footer */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}

footer i {
  font-size: 24px;
  margin: 0 10px;
}

footer a {
  margin: 0 10px;
  color: #000; /* change color */
  text-decoration: none;
  color: rgb(255, 255, 255);
}

footer a:hover {
  color: #838383; /* change on hover */
}

footer i {
  font-size: 24px;
}
footer a.youtube i {
  color: white; /* normal color */
}

footer a.youtube:hover i {
  color: rgb(227, 16, 16); /* turns red on hover */
}




/* Make body and html full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Wrapper uses flex column */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main grows to fill space */
main {
    flex: 1;
}

/* Footer stays at bottom */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
  font-size: 10px;       /* makes text smaller */
  margin-top: 10px;       /* pushes it lower */
  margin-bottom: 0;      /* remove extra bottom spacing */
}
